/* Page background + font */
body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: linear-gradient(135deg, #00009c, #5e5edc);
    color: #f0f0f0;
    margin: 0;
    padding: 40px;
    height: 100vh;
}

/*main text*/
h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #cb0606;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

h2 {
    font-size: 2rem;
    margin-top: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

li {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}